@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

@Html.Partial("~/Views/Partials/contentIntro.cshtml")

<div class="d-flex justify-content-center align-items-center flex-column py-6 py-lg-7">
    <img loading=lazy src="/assets/images/error-img.png"
         alt="Error image"
         class="mb-6">
    <h3>
        @Umbraco.GetDictionaryValue("Error.Title")
    </h3>
    <p class="mb-5">
        @Umbraco.GetDictionaryValue("Error.Text")
    </p>
    <a href="/"
       class="btn btn-primary">
        <i class="fas fa-home me-2"></i>
        @Umbraco.GetDictionaryValue("Error.Homepage")
    </a>
</div>

