body {
    background-color: $body-bg;
    font-family: $font-family-body;
}

main {
    &.pages-main {
        padding-top: 54px;
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
