.card {
    &.card-icon {
        padding: 22px 35px 22px 60px;

        .icon-box {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -25px;
            @include absolute-v-centered;

            &:before {
                content: '';
                position: absolute;
                left: -4px;
                right: -4px;
                top: -4px;
                bottom: -4px;
                z-index: -1;
                border-radius: 100%;
                background-color: rgba($primary, .3);
            }
            
            i {
                color: $white;
                font-size: 24px;
                line-height: 1;
            }
        }

        h5 {
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }

        a {
            font-size: 14px;
            line-height: 20px;
            color: $dark;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &:after {
                display: none;
            }
        }
    }
}