.image-gallery {
    .filter-nav {
        ul {
            list-style: none;

            li {
                display: inline-flex;
                border: medium none;
                line-height: 23px;
                margin: 0 15px;
                padding: 0;
                position: relative;
                text-transform: uppercase;
                vertical-align: top;
                cursor: pointer;
                
                &.active {
                    color: $primary;

                    &:before,
                    &:after {
                        background-color: $primary;
                        width: 15px;
                        opacity: 1;
                    }
                }

                &:before,
                &:after {
                    content: "";
                    background-color: $primary;
                    border-radius: 50%;
                    height: 1px;
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    @include transition(all .3s);
                }

                &:before {
                    left: 0;
                    top: 0;
                }

                &:after {
                    bottom: 0;
                    right: 0;
                }

                &:hover {
                    &:before,
                    &:after {
                        width: 15px;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .filtr-container {
        .filtr-item {
            padding-bottom: 24px;
            text-align: center;
            overflow: hidden;
            height: 198px;

            a {
                &:after {
                    display: none;
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .image-popup {
                position: relative;
                display: block;
                height: 174px;

                &:before {
                    content: "";
                    background-color: $primary;
                    opacity: 0;
                    @include transition(all 0.3s ease 0s);
                    @include absolute-full;
                }

                &:after {
                    content: "";
                    border: 1px solid $white;
                    opacity: 0;
                    position: absolute;
                    right: 22px;
                    bottom: 22px;
                    top: 22px;
                    left: 22px;
                    @include transition(all 0.3s ease 0s);
                }

                &:hover {
                    &:before {
                        opacity: .8;
                    }

                    &:after {
                        opacity: 1;
                    }

                    .fas {
                        opacity: 1;
                    }
                }

                .fas {
                    color: $white;
                    font-size: 1.5rem;
                    line-height: 1;
                    opacity: 0;
                    @include transition(all 0.3s ease 0s);
                    @include centered;
                }
            }
        }
    }
}

.gallery-section {
    .image-item {
        padding-bottom: 24px;
        text-align: center;
        overflow: hidden;
        height: 198px;

        a {
            &:after {
                display: none;
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .image-popup {
            position: relative;
            display: block;
            height: 174px;

            &:before {
                content: "";
                background-color: $primary;
                opacity: 0;
                @include transition(all 0.3s ease 0s);
                @include absolute-full;
            }

            &:after {
                content: "";
                border: 1px solid $white;
                opacity: 0;
                position: absolute;
                right: 22px;
                bottom: 22px;
                top: 22px;
                left: 22px;
                @include transition(all 0.3s ease 0s);
            }

            &:hover {
                &:before {
                    opacity: .8;
                }

                &:after {
                    opacity: 1;
                }

                .fas {
                    opacity: 1;
                }
            }

            .fas {
                color: $white;
                font-size: 1.5rem;
                line-height: 1;
                opacity: 0;
                @include transition(all 0.3s ease 0s);
                @include centered;
            }
        }
    }
}