@inherits UmbracoViewPage
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var title = Model.HasValue("title") ? Model.Value("title") : Model.Name;
    var description = Model.Value<IHtmlString>("description");
    var image = Model.Value<IPublishedContent>("backgroundImage");
    var isSmallHeight = Model.Value<bool>("smallHeight");
    var removeFromPage = Model.Value<bool>("removeFromPage");

    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.Url();
    }
}

@if (!removeFromPage)
{
    <div class="page-intro @(isSmallHeight ? "small-height" : "")"
         style="@(!string.IsNullOrWhiteSpace(imageUrl) ? "background-image: url('" + imageUrl + "')" : "background-image: url('/assets/images/bg-img.jpg')" )">
        
        <h2>@title</h2>

        @description

    </div>
}
