<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10e3a413-a287-47e8-88ef-73dd208775c3" Alias="blogList" Level="2">
  <Info>
    <Name>Blog List</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="88e34c97-84e8-4390-807f-44b652ee86a6">contentControls</Composition>
      <Composition Key="eaf187f1-85a7-4d7c-b16d-3b5b09280886">sEOControl</Composition>
      <Composition Key="19211ed3-0821-4d16-b1ae-e6a7927ece07">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Blogs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="51a46fc1-4e50-429b-ae35-602ad7f3af7a">Blogs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c021a613-c5ae-4d24-bcb1-b6fd71a2ce12" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>