<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3423a83-672b-43fa-8175-770e380a1d76" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-umb-content color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="88e34c97-84e8-4390-807f-44b652ee86a6">contentControls</Composition>
      <Composition Key="eaf187f1-85a7-4d7c-b16d-3b5b09280886">sEOControl</Composition>
      <Composition Key="19211ed3-0821-4d16-b1ae-e6a7927ece07">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="78b52f41-e6f3-48a7-9f03-4a4f7397cc89">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d3423a83-672b-43fa-8175-770e380a1d76" SortOrder="0">content</ContentType>
    <ContentType Key="4baf2b8e-431a-4c2e-9fa7-4ba6d8bf742c" SortOrder="1">quiz</ContentType>
    <ContentType Key="dd8888e7-df64-4009-ac51-2f82e7a7b6b7" SortOrder="2">price</ContentType>
    <ContentType Key="44a60dda-a6f3-4a17-8549-01388e4ff915" SortOrder="3">links</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1e7223fb-0521-4b29-be79-a8ca457affca</Key>
      <Name>Page Content</Name>
      <Alias>pageContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73137273-06da-4282-bade-0e2c83d78d3b</Key>
      <Name>Video Link</Name>
      <Alias>videoLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <Alias>content1</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>