<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd1d95bd-3c35-4660-8ac8-9a89e811de68" Alias="factsList" Level="2">
  <Info>
    <Name>Facts List</Name>
    <Icon>icon-bulleted-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>016419e4-9b96-475e-bd4e-5140bf6f3ab9</Key>
      <Name>Fact Content</Name>
      <Alias>factContent</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="factsList">Facts List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ad06c97-e3bf-40ca-b9c0-08fac4c50d63</Key>
      <Name>Fact Icon</Name>
      <Alias>factIcon</Alias>
      <Definition>fc6b899e-3492-458a-bb19-cccc4931980d</Definition>
      <Type>faIcon</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="factsList">Facts List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6d22eb9-013b-4bbf-8793-00fde74614b1</Key>
      <Name>Fact Name</Name>
      <Alias>factName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="factsList">Facts List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Facts List</Caption>
      <SortOrder>0</SortOrder>
      <Alias>factsList</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>