<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2cf1069f-0b56-4dd9-9538-ef6aa5169878" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3e44b6d1-79f0-4a53-8f69-63c92b43c149">actionModalControls</Composition>
      <Composition Key="4132f23d-12c3-40d9-b9f9-eb426a767fbd">globalControls</Composition>
      <Composition Key="eaf187f1-85a7-4d7c-b16d-3b5b09280886">sEOControl</Composition>
      <Composition Key="19211ed3-0821-4d16-b1ae-e6a7927ece07">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4d4c43ac-9eba-42fb-bf69-f292c154038d">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="10e3a413-a287-47e8-88ef-73dd208775c3" SortOrder="0">blogList</ContentType>
    <ContentType Key="73ac0197-72a8-4e01-b378-76604958f744" SortOrder="1">contact</ContentType>
    <ContentType Key="d3423a83-672b-43fa-8175-770e380a1d76" SortOrder="2">content</ContentType>
    <ContentType Key="b07f4ded-dec5-4b88-9c2e-f8d66f7a9216" SortOrder="3">error</ContentType>
    <ContentType Key="44a60dda-a6f3-4a17-8549-01388e4ff915" SortOrder="4">links</ContentType>
    <ContentType Key="72bc67b7-015d-4d66-8fd5-da4a7483f72f" SortOrder="5">search</ContentType>
    <ContentType Key="e39b194f-3beb-4017-b252-f397b6fcf5a6" SortOrder="6">people</ContentType>
    <ContentType Key="4baf2b8e-431a-4c2e-9fa7-4ba6d8bf742c" SortOrder="7">quiz</ContentType>
    <ContentType Key="dd8888e7-df64-4009-ac51-2f82e7a7b6b7" SortOrder="8">price</ContentType>
    <ContentType Key="0af60dd7-ee7d-44ca-8bf1-56bd07b29d1b" SortOrder="9">gallery</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d13a1ae2-5c80-4a01-b954-3a12ddf50e61</Key>
      <Name>Fact List</Name>
      <Alias>factList</Alias>
      <Definition>897b6ebd-5b22-4fc3-a60c-1b8799d76b23</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="facts/facts">Facts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92b20fe7-fd12-4f4f-919f-1a50d41176ad</Key>
      <Name>Facts Background Image</Name>
      <Alias>factsBackgroundImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="facts/facts">Facts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>479afbae-0a95-47b5-a888-47896a55a449</Key>
      <Name>Feature List Left</Name>
      <Alias>featureListLeft</Alias>
      <Definition>32005d4d-ae15-4c84-9684-7d741423829c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="features/features">Features</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7fb787a-47f4-4508-9132-bd893f43639b</Key>
      <Name>Feature List Right</Name>
      <Alias>featureListRight</Alias>
      <Definition>32005d4d-ae15-4c84-9684-7d741423829c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="features/features">Features</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>566e6dcc-d2fd-4906-840c-e2e168c53c61</Key>
      <Name>Features Image</Name>
      <Alias>featuresImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="features/features">Features</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40d74104-d409-4bb7-9b59-5315c9f6bd17</Key>
      <Name>Features Intro</Name>
      <Alias>featuresIntro</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="features/features">Features</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98b79785-e19c-4afe-a941-7cbe54f45750</Key>
      <Name>Homepage Banner</Name>
      <Alias>homepageBanner</Alias>
      <Definition>9d6b762e-15ea-49a7-b5b6-46d5a3502576</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="banner/banner">Banner</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0582b1a-e45f-4454-90e8-4873fa2df9fe</Key>
      <Name>Latest Informations</Name>
      <Alias>latestInformations</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="informationsSchedule/informations">Informations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4250a86-59f6-4bfd-8b52-7d7df15b80d2</Key>
      <Name>Schedules</Name>
      <Alias>schedules</Alias>
      <Definition>33036451-db83-4dca-994e-3cc94ce789ca</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="informationsSchedule/informations">Informations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c02ed3b0-cd95-4670-987c-7e0be739eeed</Key>
      <Name>Testimonial</Name>
      <Alias>testimonial</Alias>
      <Definition>e67fdc1c-0230-4552-9194-7f9842991551</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="testimonials/testimonials">Testimonials</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2720c98-1d14-4940-8c83-d1b28b24cb2c</Key>
      <Name>Testimonials Image</Name>
      <Alias>testimonialsImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="testimonials/testimonials">Testimonials</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7530fcc9-ea05-4f5c-ab1f-e74299d0da11</Key>
      <Name>Testimonials Intro</Name>
      <Alias>testimonialsIntro</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testimonials/testimonials">Testimonials</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e11aea4-518a-46f7-80c5-6ac8d61b9c73</Key>
      <Name>Working Hours</Name>
      <Alias>workingHours</Alias>
      <Definition>0809ce8b-2b7d-4159-84eb-9a9e6a2d68e0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="workingHours/workingHours">Working Hours</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2217acf-0fbc-4bfc-8f8a-1e8b3d1b5c94</Key>
      <Name>Working Hours Intro</Name>
      <Alias>workingHoursIntro</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="workingHours/workingHours">Working Hours</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Working Hours</Caption>
      <SortOrder>0</SortOrder>
      <Alias>workingHours/workingHours</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Facts</Caption>
      <SortOrder>0</SortOrder>
      <Alias>facts/facts</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Features</Caption>
      <SortOrder>0</SortOrder>
      <Alias>features/features</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Testimonials</Caption>
      <SortOrder>0</SortOrder>
      <Alias>testimonials/testimonials</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Informations</Caption>
      <SortOrder>0</SortOrder>
      <Alias>informationsSchedule/informations</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>0</SortOrder>
      <Alias>banner/banner</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>1</SortOrder>
      <Alias>banner</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Informations/Schedule</Caption>
      <SortOrder>2</SortOrder>
      <Alias>informationsSchedule</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Features</Caption>
      <SortOrder>3</SortOrder>
      <Alias>features</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Facts</Caption>
      <SortOrder>4</SortOrder>
      <Alias>facts</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Testimonials</Caption>
      <SortOrder>5</SortOrder>
      <Alias>testimonials</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Working Hours</Caption>
      <SortOrder>6</SortOrder>
      <Alias>workingHours</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>