<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a65a4365-96c5-431d-ac61-3eed91e74c8a" Alias="linkSection" Level="2">
  <Info>
    <Name>Link Section</Name>
    <Icon>icon-section color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4feb4e89-2570-4ca9-b346-f58ea98984f9</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>9d14a83f-e8d5-4728-9e47-0e92489acc14</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="linkSection">Link Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8029195c-71b3-47dc-aeb0-40621b122505</Key>
      <Name>Link Section Title</Name>
      <Alias>linkSectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="linkSection">Link Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Link Section</Caption>
      <SortOrder>0</SortOrder>
      <Alias>linkSection</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>