<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd8888e7-df64-4009-ac51-2f82e7a7b6b7" Alias="price" Level="2">
  <Info>
    <Name>Price</Name>
    <Icon>icon-price-euro color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="88e34c97-84e8-4390-807f-44b652ee86a6">contentControls</Composition>
      <Composition Key="eaf187f1-85a7-4d7c-b16d-3b5b09280886">sEOControl</Composition>
      <Composition Key="19211ed3-0821-4d16-b1ae-e6a7927ece07">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Price</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6ac04697-ee33-4e20-b5ef-9f8ba75e3e5a">Price</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3f67ef2f-9c75-4791-9c27-f4978c5d4b69</Key>
      <Name>Package Price List</Name>
      <Alias>packagePriceList</Alias>
      <Definition>1916327b-8eb7-4edf-9d26-c47a19e8d34b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content1/content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ad21e9b-eb92-47f7-988d-cc96a47aaa75</Key>
      <Name>Page Content Additional</Name>
      <Alias>pageContentAdditional</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content1/content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c3b106e-54e2-4e13-97fd-838cf080c064</Key>
      <Name>Page Content Intro</Name>
      <Alias>pageContentIntro</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1/content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6cee7e30-1c8b-452e-869b-30248a2be8a3</Key>
      <Name>Page Content More</Name>
      <Alias>pageContentMore</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content1/content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content1/content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <Alias>content1</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>