<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4baf2b8e-431a-4c2e-9fa7-4ba6d8bf742c" Alias="quiz" Level="2">
  <Info>
    <Name>Quiz</Name>
    <Icon>icon-checkbox-dotted-active color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="88e34c97-84e8-4390-807f-44b652ee86a6">contentControls</Composition>
      <Composition Key="eaf187f1-85a7-4d7c-b16d-3b5b09280886">sEOControl</Composition>
      <Composition Key="19211ed3-0821-4d16-b1ae-e6a7927ece07">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Quiz</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e4e1c1fc-5a68-42a1-ac3b-7a32a7a710d6">Quiz</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4fee3b98-8a03-4f1a-8475-40b4f27ce4db" SortOrder="0">testPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>30fc3999-7101-4725-b480-799ba2c33b92</Key>
      <Name>Email Validation</Name>
      <Alias>emailValidation</Alias>
      <Definition>eab62e75-d2dd-4c48-9b63-58c8208c4eb9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="emailValidation">Email Validation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Email Validation</Caption>
      <SortOrder>1</SortOrder>
      <Alias>emailValidation</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>