<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fddb930c-44a2-4a3e-8f87-587d714d8457" Alias="schedulePackage" Level="2">
  <Info>
    <Name>Schedule Package</Name>
    <Icon>icon-bulleted-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a5006bb9-761d-464b-9061-1039fd91d82c</Key>
      <Name>Schedule List</Name>
      <Alias>scheduleList</Alias>
      <Definition>fa28ebc8-1e3b-4b37-b6c5-14892a423bbd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="schedulePackage">Schedule Package</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3315fdf6-7baf-4a25-a273-712ddea9314c</Key>
      <Name>Schedule Name</Name>
      <Alias>scheduleName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="schedulePackage">Schedule Package</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Schedule Package</Caption>
      <SortOrder>0</SortOrder>
      <Alias>schedulePackage</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>