<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fee3b98-8a03-4f1a-8475-40b4f27ce4db" Alias="testPage" Level="2">
  <Info>
    <Name>Test Page</Name>
    <Icon>icon-equalizer color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="88e34c97-84e8-4390-807f-44b652ee86a6">contentControls</Composition>
      <Composition Key="eaf187f1-85a7-4d7c-b16d-3b5b09280886">sEOControl</Composition>
    </Compositions>
    <DefaultTemplate>TestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="655b5097-3d21-4545-930d-fcc77f444b76">TestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aaa0d470-00aa-493d-9127-5c07efa013b2</Key>
      <Name>Test Question</Name>
      <Alias>testQuestion</Alias>
      <Definition>5dccb902-6e92-4d01-a813-d4de2162bc74</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test/testQuestions">Test Questions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Test Questions</Caption>
      <SortOrder>0</SortOrder>
      <Alias>test/testQuestions</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Test</Caption>
      <SortOrder>0</SortOrder>
      <Alias>test</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>