<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24b0ed5a-621d-4af5-a46f-d0644e3ad03b" Alias="textList" Level="2">
  <Info>
    <Name>Text List</Name>
    <Icon>icon-bulleted-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f4990e49-6815-44b0-b10e-8186cd9b3f1a</Key>
      <Name>Text List Item</Name>
      <Alias>textListItem</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="textList">Text List</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Text List</Caption>
      <SortOrder>0</SortOrder>
      <Alias>textList</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>