<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f466b9fa-7a05-4fa8-8dde-17f08e8848c9" Alias="workingPackage" Level="2">
  <Info>
    <Name>Working Package</Name>
    <Icon>icon-time color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3aeacb01-bacc-4934-9232-e4a2f8cff6aa</Key>
      <Name>Working Hours</Name>
      <Alias>workingHours</Alias>
      <Definition>c14f6742-71f6-4a1e-a5b4-0e6e9b6249b8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="workingPackage">Working Package</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ad2b778-55c8-4dc1-ad92-13dc716a343d</Key>
      <Name>Working Title</Name>
      <Alias>workingTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="workingPackage">Working Package</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Working Package</Caption>
      <SortOrder>0</SortOrder>
      <Alias>workingPackage</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>