<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d6b762e-15ea-49a7-b5b6-46d5a3502576" Alias="Banner List" Level="1">
  <Info>
    <Name>Banner List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "bannerList",
      "ncTabAlias": "Banner List",
      "nameTemplate": "{{bannerTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>