<?xml version="1.0" encoding="utf-8"?>
<DataType Key="897b6ebd-5b22-4fc3-a60c-1b8799d76b23" Alias="Facts" Level="1">
  <Info>
    <Name>Facts</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "factsList",
      "ncTabAlias": "Facts List",
      "nameTemplate": "{{factName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>