<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc6b899e-3492-458a-bb19-cccc4931980d" Alias="Facts List - Font awesome Picker" Level="1">
  <Info>
    <Name>Facts List - Font awesome Picker</Name>
    <EditorAlias>faIcon</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>