<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32005d4d-ae15-4c84-9684-7d741423829c" Alias="Features" Level="1">
  <Info>
    <Name>Features</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "featuresList",
      "ncTabAlias": "Facts List",
      "nameTemplate": "{{featureName}}"
    }
  ],
  "MinItems": 3,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>