<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f478c5c-23ee-48b2-ac89-a8d1b6f3e0a9" Alias="Instructor" Level="1">
  <Info>
    <Name>Instructor</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "instructor",
      "ncTabAlias": "Instructor",
      "nameTemplate": "{{instructorName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>