<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17b03ca7-337b-4566-92cd-e5098b97a2c2" Alias="Link Section" Level="1">
  <Info>
    <Name>Link Section</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "linkSection",
      "ncTabAlias": "Link Section",
      "nameTemplate": "{{linkSectionTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>