<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d14a83f-e8d5-4728-9e47-0e92489acc14" Alias="Link Item" Level="1">
  <Info>
    <Name>Link Item</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "linkItem",
      "ncTabAlias": "Link Item",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>