<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1916327b-8eb7-4edf-9d26-c47a19e8d34b" Alias="Price Package" Level="1">
  <Info>
    <Name>Price Package</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pricePackage",
      "ncTabAlias": "Price Package",
      "nameTemplate": "{{priceName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>