<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33036451-db83-4dca-994e-3cc94ce789ca" Alias="Schedule Package" Level="1">
  <Info>
    <Name>Schedule Package</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "schedulePackage",
      "ncTabAlias": "Schedule Package",
      "nameTemplate": "{{scheduleName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>