<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa28ebc8-1e3b-4b37-b6c5-14892a423bbd" Alias="Schedule List" Level="1">
  <Info>
    <Name>Schedule List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "scheduleList",
      "ncTabAlias": "Schedule List",
      "nameTemplate": "{{scheduleItem}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>