<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e67fdc1c-0230-4552-9194-7f9842991551" Alias="Testimonials" Level="1">
  <Info>
    <Name>Testimonials</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testimonialList",
      "ncTabAlias": "Testimonial List",
      "nameTemplate": "{{testimonialAuthor}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>