<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91b9e39e-5693-4aba-82ce-5729c33bcd0b" Alias="Test Answers" Level="1">
  <Info>
    <Name>Test Answers</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testAnswers",
      "ncTabAlias": "Test Answers",
      "nameTemplate": "{{answer}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>