<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e37a5025-42d9-4fef-bede-6778d7a43f54" Alias="Text List" Level="1">
  <Info>
    <Name>Text List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textList",
      "ncTabAlias": "Text List",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>