<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0809ce8b-2b7d-4159-84eb-9a9e6a2d68e0" Alias="Working Package" Level="1">
  <Info>
    <Name>Working Package</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "workingPackage",
      "ncTabAlias": "Working Package",
      "nameTemplate": "{{workingTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>