<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c14f6742-71f6-4a1e-a5b4-0e6e9b6249b8" Alias="Working List" Level="1">
  <Info>
    <Name>Working List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "workingList",
      "ncTabAlias": "Working List",
      "nameTemplate": "{{workingSection}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>